---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Spotlight from '../components/Spotlight.astro';
import Menu from '../components/Menu.astro';
import Builder from '../components/Builder.astro';
import Pricing from '../components/Pricing.astro';
import Story from '../components/Story.astro';
import Visit from '../components/Visit.astro';
import Footer from '../components/Footer.astro';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <Spotlight />
    <Menu />
    <Builder />
    <Pricing />
    <Story />
    <Visit />
  </main>
  <Footer />
</Layout>
